*{
    margin: 0;
    padding: 0;
}

.h5{
    font-size: 15px;
}
.container2{    
    box-shadow: 0 5px 10px #cfcccc;
    background-color: rgb(255, 165, 55);
    text-transform: uppercase;
}
.nav-bar style{
    box-shadow: 0 5px 10px #ffffff;
    text-transform: uppercase;
 

}
.logo{
    height: 55px;
    padding: 3px 15px;
}
.icon-bar{
 background:rgb(255, 255, 254);
}

li a{
    color: rgb(255, 255, 255);
    /* background-color: rgb(255, 165, 55); */
}
.big-text{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 30px 0;
    color: darkorange;
}
a.btn{
    margin: 30px 10px;
    width: 150;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: darkorange;
    color: #fff;
}
a.btn-second{
    background-color: transparent;
    border: 1px solid darkorange;
    color: rgb(94, 90, 90);
}
.a.btn:hover{
    background: darkorange;
    border: none;
    color: darkorange;
    box-shadow: 5px 5px 10px rgb(228, 138, 138) ;
    transition: 0.3s;
}
.banner-info, .banner-image{
 margin: 30px 0;
}

/* ==========================
*  Footer
============================*/

footer {
    align-items: 6px;
    background-color:darkorange;
    padding: 30px 0;
    z-index: 1;
    position: relative;
}

.payment-options ul li {
    display: inline-block;
    margin-right: 10px;
}

footer h5 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-logo-block img {
    display: block;
    margin-bottom: 15px;
    size: 10px;
}

footer p,
footer,
footer span {
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.address h5 a {
    color: rgb(255, 254, 254);
    font-size: 26px;
    font-family: "Give You Glory", cursive;
    margin-left: 20px;
    font-weight: 600;
}

.address h5 a:hover {
    color: #fff;
}

.popular-locations ul li {
    display: inline-block;
    width: 49%;
}

footer ul li {
    margin-bottom: 6px;
}

footer ul li a {
    color: #ffffff;
    transition: all .3s;
}

.how-it-works-links {
    margin-bottom: 70px;
}

.address p {
    margin-bottom: 35px;
}

footer ul li a:hover {
    color: rgb(255, 255, 255);
}

footer li a {
    line-height: 20px;
    display: inline-block;
}

.payment-options ul {
    margin-top: 10px;
    float: left;
    width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
    .footer-logo-block {
        margin-bottom: 25px
    }
}


/* ==========================
*  Inner pages
============================*/
/* ==========================
*  SIGN UP 
============================*/

.container3{
    box-shadow: 0 5px 10px #cfcccc;
    background-color: rgb(231, 228, 223);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: 3px;
    
}
.border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }

